<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535455884485-ni87j7egtvdo76ucf99mv53r07jr7nds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535455884485-ni87j7egtvdo76ucf99mv53r07jr7nds</string>
	<key>API_KEY</key>
	<string>AIzaSyBlZDz4gJVsQsbul_HIDSjbdb1lpYtYrjY</string>
	<key>GCM_SENDER_ID</key>
	<string>535455884485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>om-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>om-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535455884485:ios:f96eb143ca7db5836e7cac</string>
</dict>
</plist>